:root {
  --bg-color: #f5f5f5;
  --bg-color-darker: #f5f5f5;
  --border-color: #e0e0e0;
  --hover-color: #e0e0e0;
  --text-color: #212121;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}