<div class="space-y-6">

  <div class="flex items-start gap-4 mb-6">
    <div class="flex-1">
      <h2 class="text-3xl font-extrabold text-slate-900">Gestión de Tareas</h2>
      <div class="text-sm text-slate-500 mt-1">Organiza y da seguimiento a todas tus actividades</div>
    </div>
    <div class="flex gap-3 items-center">
      <button class="bg-gradient-to-b from-sky-700 to-sky-500 text-white px-4 py-2 rounded-lg font-semibold shadow">+ Nueva Tarea</button>
    </div>
  </div>

  
  <div class="grid grid-cols-2 gap-4 mb-6">
    <div class="card p-4 border border-slate-100 shadow-sm flex justify-between items-center">
      <div>
        <div class="text-sm text-slate-500">Tareas Pendientes</div>
        <div class="text-xl font-bold mt-2">{{ task }}</div>
      </div>
      <div class="text-2xl text-sky-500"></div>
    </div>
    <div class="card p-4 border border-slate-100 shadow-sm flex justify-between items-center">
      <div>
        <div class="text-sm text-slate-500">Tareas Completadas</div>
        <div class="text-xl font-bold mt-2 text-green-600">{{ finalizado }}</div>
      </div>
      <div class="text-2xl text-green-600"></div>
    </div>
  </div>

  <!-- tasks list -->
  <div class="card p-6">
    <div class="mb-4">
      <h3 class="text-xl font-semibold">Lista de Tareas ({{ task }})</h3>
      <div class="text-sm text-slate-500">
        Gestiona y da seguimiento a todas tus tareas y actividades
      </div>
    </div>

    <div class="w-full overflow-x-auto">
      <table class="w-full text-left min-w-[1000px]">
        <thead class="text-sm text-slate-400 border-b border-slate-100 bg-slate-50">
          <tr>
            <th class="py-3">Tarea</th>
            <th class="py-3">Cliente</th>
            <th class="py-3">Estado</th>
            <th class="py-3">Fecha Límite</th>
            <th class="py-3">Asignado</th>
          </tr>
        </thead>
        <tbody class=" text-slate-700">
          <tr *ngFor="let task of taskJson" class="border-b last:border-b-0 hover:bg-slate-50">
            <td class="py-4 align-top">
              <div class="font-semibold">{{ task.name }}</div>
              <div class="text-xs text-slate-400 mt-1">{{ task.description }}</div>
            </td>
            <td class="py-4 align-top">
              <div class="font-medium">{{ task.contact.name }}</div>
              <div class="text-xs text-slate-400">{{ task.company.name }}</div>
            </td>
            <td class="py-4 align-top">
              <div class="font-medium">{{ task.deal.stage }}</div>
            </td>
            <td class="py-4 align-top text-rose-600">{{ task.dueDate }}</td>
            <td class="py-4 align-top">{{ task.user.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
