<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="Container">
    <a class="Side_Dashboard" href="#">
        <span class="menu-icon"></span>
        <span class="menu-text">Dashboard</span>
    </a>

    <a class="Side_Perfil" href="#">
        <span class="menu-icon"></span>
        <span class="menu-text">Perfil</span>
    </a>

    <a class="Side_Oportunidades" href="#">
        <span class="menu-icon"></span>
        <span class="menu-text">Oportunidades</span>
    </a>

    <a class="Side_Tareas" href="#">
        <span class="menu-icon"></span>
        <span class="menu-text">Tareas</span>
    </a>

    <a class="Side_Reportes" href="#">
        <span class="menu-icon"></span>
        <span class="menu-text">Reportes</span>
    </a>

<a class="Side_Admin" href="#">
    <span class="menu-icon"></span>
    <span class="menu-text">Admin Usuario</span>
</a>
</div>


</body>
</html>

