.app {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-color);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}